@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('../../static/fonts/Bazzi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#app {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 800px;
  height: 60px;
  background-color: #e5001a;
  margin: 0 auto;
  position: relative;
}

body {
  font-family: MaplestoryOTFBold;
}
